input, textarea {
    padding: 0%;
    border: solid 1px #E5E5E5;
    font: normal 100% Verdana, Tahoma, sans-serif;
    width: 60%;
    background: #FFFFFF;
    }   
textarea {
    width: 60%;
    height: 26%;
    }
   
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #585340;
    background-color: #585340: 
    }
   
form .label {
    margin-left: 0%;
    color: #999999;
    }
   
.submit input {
    width: 20%;
    background: #8a151b;
    border: .4% solid #bc6367;
    font-size: 60%;
    color: #FFFFFF;
    }



.formContainer {
    width: 100%;
    height: auto;
    padding: 3%
}
.formTop, formBottom{
    display: block;
}

.title {
    width: 56%;
    height: 15%;
    text-align: center;
    float:left;
    font-family: 'Geneva' sans-serif;
    font-weight: 900;
    font-size: 2em;
}
.image {
    width: 44%;
    height: 100%;
    text-align: center;
    float: right;
    
    padding: 3%;
}
.detail {
    width: 56%;
    height: auto;
    text-align: center;
    float: left;
    padding: 3%;
}
table, th, td {
    
    border: 1px solid black;
}
table {
    font-family: 'Geneva' sans-serif;
    font-size: .6em;
    text-align: left;
    word-wrap: break-word;
    
}
th {
    font-weight: 900;
    width: 35%;
}
td {
}

img {
    height: 100%;
    width: auto;
    box-shadow: -8px 8px 4px #888888;
}


.listText {
    float: left;
    font-family: Walkway_SemiBold;
    font-size: 160%;
    width: 70%;
    height: 100%;
    padding-left: 5%;
    padding-top: 6%;
}
.arrowBox {
    float:right;
    width: 30%;
    height: 100%;
    text-align: right;
    padding-right: 2%;
    font-size: 385%;
    color: #585340;
    
}

.contents {
    position: absolute;
    overflow: auto;
    left: 0%;
    width: 100%;
    top: 20%;
    left: 0%;
    bottom: 12%;
    background-color: #accecd;
    font-family: Walkway_SemiBold;
    font-size: 5.2vw;
    font-weight:100;
    text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
}

li {
    position: relative;
    /*Absolute value here so that more infor can be shown on the bigger screens*/
    height: 80px;
    margin: 0px;
    border: 1px solid #585340;
    /*Not 100% to make room for the after*/
    width: 100%;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #accecd 0%, #ffffff 25%, #ffffff 75%, #accecd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#accecd), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#accecd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #accecd 0%,#ffffff 25%,#ffffff 75%,#accecd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #accecd 0%,#ffffff 25%,#ffffff 75%,#accecd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #accecd 0%,#ffffff 25%,#ffffff 75%,#accecd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #accecd 0%,#ffffff 25%,#ffffff 75%,#accecd 100%); /* W3C */
  
}

li:hover {
    /*Hover may not work on a touch screen, I imagine touch screens can only pick up touch i.e. active*/
    border-color: #585340;  
    background: #accecd; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #accecd 25%, #accecd 75%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #dddddd 0%,#accecd 25%,#accecd 75%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
}



li:active {
  background: #accecd;
}


.relative {
    position: relative;
}
.stickyFooter {
    position: -webkit-sticky;
    position: sticky;
    bottom: 15%;
    
}






/*

    Richard W. Daly (09004513)


    
*/

/*------------------------Structural CSS--------------------------------*/
/*======================================================================*/




/*
Structure design taken from assignment sheet

colour scheme found: 
http://colrd.com/image-dna/23869/
#585340    #b7ae9d    #fafffc    
#accecd    #8a151b    #bc6367    

*/



/*----------------------Imported Font-----------------------------------*/
@font-face {
    font-family: StRyde-Regular; src: url('fonts/StRyde-Regular.otf');
    font-family: Walkway_SemiBold; src: url('fonts/Walkway_SemiBold.ttf');
}
/*Fonts in use are legally downloaded freeware.*/



/*Setting font-size at 100% here will allow to use ems later relative to this, and as it is 100%, the will change with screen size*/
html, body {
    font-size: 100%;
}
/*Set as blocks so as to be able to avoid over-lapping*/
header, nav, section, footer, title, image, detail {
    display: block;
}
header {
    background-color: #8a151b;
    color: #daabad;
    /*Fixed so that it does not move around*/
    position: fixed;
    
    /*Top and left at 0% will overwrite the auto margins that browsers put on elements*/
    top: 0%;
    left: 0%;
    height: 15%;
    
    /*Span the page*/
    width: 100%;
    overflow: hidden;
    
}

main {
    background-color: #accecd;
    position: fixed;
    
    /*Starting below the header, % to scale with screen size*/
    top: 15%;
    left: 0%;
    
    /*Height minus the header/footer heights*/
    height: 72%;
    width: 100%;
}
section {
    background-color: royalblue;
}
footer {
    
    /*Gradient background colors with code for different web browser support*/
    background: linear-gradient(180deg, #585340, #272727, #090909); /* Standard syntax*/
    background: -webkit-linear-gradient(270deg, #585340, #272727, #090909); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(270deg, #585340, #272727, #090909); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(270deg, #585340, #272727, #090909); /* For Firefox 3.6 to 15 */
    position: fixed;
    bottom: 0%;
    left: 0%;
    left: 0px;
    height: 13%;    
    width:100%;
    padding-left: 2%;
    padding-top: 1%;
    overflow: hidden;
}


/*----Structure changes when the header becomes a navigation------------*/
.doubleNavHeader {
    height: 20%;
    position: fixed;
}
.mainWithDoubleNavHeader {
    top: 20%;
    height: 80%;
    background-color: #accecd;
    border: 2px solid blue;
    
    left: 0%;
    
    /*Height minus the header/footer heights*/
    width: 100%;
}
.singleNavHeader {
}

/*--------------------------Property Classes----------------------------*/




.borderInFullWidth {
/*This will make sure the border is not pushed off the screen by the width 100%*/    
    box-sizing: border-box;
    
    /*This is supported by most browsers, including IE8*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    
}



.floatLeft {
    float: left;
}

h1 {
    /**/
    font-family: Walkway_SemiBold;
    font-size: 5.2vw;
    font-weight:100;
    text-align: center;
}
	
h2 {
    font-size: 5.6vw;
	color: #585340;
	font-family: 'MEgalopolisExtraRegular';
	text-transform: uppercase;
	text-shadow: -.5px -1px 1px #000000, 0px 0px 0px #000000;
}

.smallItalic {
    font-family: Helvetica sans-serif;
    font-size: 3.2vw;
    font-style: italic;
}
p {
    margin-top: 0;
}
hr {
    /*Code I found last semester for my CV, i have reused here (Taking advantage of classes! ;) )*/
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

a {
    text-decoration: none;
    color: #585340;
}
/*------------------------------Item Classes----------------------------*/


.buttonContainer {
    /*This contains the button, and moves dynamiccaly witht he size of the screen*/
    width: 100%;
    height: 33%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-top: 0%;
}
/*This is a floating div*/
.button {
    
    font-family: Walkway_SemiBold;
    font-weight: 900;
    font-size: 5vw;
    color: #fafffc;
    background-color: #b7ae9d;
    border: .6vw solid #585340;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    text-align: center;
    box-shadow: -8px 8px 14px #888888;
	float: left;
    margin: 10%;
	margin-left: 15%;
    margin-right: 15%;
	padding: 15px;
	max-width: 95%;
	height: 44%;
    width: 70%;
    
    /*Gradient background colors with code for different web browser support*/
    background: linear-gradient(180deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* Standard syntax*/
    background: -webkit-linear-gradient(270deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(270deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(270deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* For Firefox 3.6 to 15 */

}

.navButtonContainer {
    float: left;
    width: 50%;
    height: 50%;
}

.navButton {
    font-family: Walkway_SemiBold;
    font-weight: 900;
    font-size: 4.5vw;
    color: #fafffc;
    background-color: #b7ae9d;
    border: 1vw solid #585340;
    border-radius: 10%;
    text-align: center;
    box-shadow: none;
	float: none;    
	margin-left: none;
    margin-right: none;
    margin-top: 4%;
	padding: 3%;
	max-width: 75%;
	height: 40%;
    width: 60%;
    
    /*Gradient background colors with code for different web browser support*/
    background: linear-gradient(180deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* Standard syntax*/
    background: -webkit-linear-gradient(270deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(270deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(270deg, #dbd6ce, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #b7ae9d, #dbd6ce); /* For Firefox 3.6 to 15 */
}


/*------------------------------Media Queries---------------------------*/



/*Portrait media queries! */


/* up to 320 x 480*/
@media screen and (min-width: 0px) and (max-width: 320px) and (min-height: 0px) and (max-height: 480px) and (orientation: portrait){
    header {
        background-color: #8a151b;
    }
    .title {
        width: 100%;
    }
    .image {
        width: 100%;
        height: 60%;
    }
    .detail {
        width: 100%;
    }
}
/* up to 320 x 568*/
@media screen and (min-width: 0px) and (max-width: 320px) and (min-height: 481px) and (max-height: 568px) and (orientation: portrait){
    header {
        background-color: #8a151b;
    }
    .title {
        width: 100%;
    }
    .image {
        width: 100%;
        height: 60%;
    }
    .detail {
        width: 100%;
    }
}
/* up to 600 x 800*/
@media screen and (min-width: 321px) and (max-width: 600px) and (min-height: 567px) and (max-height: 800px) and (orientation: portrait){
    header {
        background-color: #8a151b;
    }
    .listText {
    font-size: 200%;
    width: 70%;
    height: 100%;
    padding-left: 10%;
    padding-top: 2%;
}
    .title {
        width: 100%;
    }
    .image {
        width: 100%;
        height: 60%;
    }
    .detail {
        width: 100%;
    }
}
/* up to 768 x 1024*/
@media screen and (min-width: 601px) and (max-width: 768px) and (min-height: 801px) and (max-height: 1024px) and (orientation: portrait){
    header {
        background-color: #8a151b;
    }
    .listText {
    font-size: 200%;
    width: 70%;
    height: 100%;
    padding-left: 15%;
    padding-top: 0.7%;
}
    .title {
        width: 100%;
    }
    .image {
        width: 100%;
        height: 60%;
    }
    .detail {
        width: 100%;
    }
}



/*Landscape media queries! */


/* up to 480 x 320*/
@media screen and (min-width: 0px) and (max-width: 480px) and (min-height: 0px) and (max-height: 320px) and (orientation: landscape){
    header {
        background-color: #8a151b;
    }
    h1 {
        font-size: 5.6vh;
    }
    h2 {
        font-size: 5.6vh;
    }
    .buttonContainer {
    /*This contains the button, and moves dynamiccaly witht he size of the screen*/
    width: 32.5%;
    height: 100%;
    float: left;
    }
    .button {    
    font-size: 5vh;
    border: .6vh solid #585340;
    border-radius: 20%;
    margin-top: 30%;
    padding-top: 20%;
    }
    .navButtonContainer {
    float: left;
    width: 25%;
    height: 100%;
    border:  1px black solid;
    }
    .navButton {
    font-size: 4.5vh;
    border: .1vw solid #585340;
    border-radius: 10%;
    text-align: center; 
	margin-left: 6%;
    margin-top: 9%;
	padding: 3%;
    width: 85%;
	height: 30%;
    }
    .listText {
    font-size: 200%;
    width: 70%;
    height: 100%;
    padding-left: 20%;
    padding-top: 2%;
}
    .title{
    font-size: 1em;
    }
    .formTop{
        width: 50%;
        float: left;
    }
    .formBottom {
        width: 50%;
        float: left;
    }
}


/* up to 568 x 320*/
@media screen and (min-width: 481px) and (max-width: 568px) and (min-height: 0px) and (max-height: 320px) and (orientation: landscape){
    header {
        background-color: #8a151b;
    }
    h1 {
        font-size: 5.6vh;
    }
    h2 {
        font-size: 5.6vh;
    }
    .buttonContainer {
    /*This contains the button, and moves dynamiccaly witht he size of the screen*/
    width: 32.5%;
    height: 100%;
    float: left;
    }
    .button {    
    font-size: 5vh;
    border: .6vh solid #585340;
    border-radius: 20%;
    margin-top: 30%;
    padding-top: 20%;
    }
    .navButtonContainer {
    float: left;
    width: 25%;
    height: 100%;
    border:  1px black solid;
    }
    .navButton {
    font-size: 4.5vh;
    border: .1vw solid #585340;
    border-radius: 10%;
    text-align: center; 
	margin-left: 6%;
    margin-top: 9%;
	padding: 3%;
    width: 85%;
	height: 30%;
    }
    .listText {
    font-size: 200%;
    width: 70%;
    height: 100%;
    padding-left: 20%;
    padding-top: 2%;
    }
    .title{
    font-size: 1em;
    }
    .formTop{
        width: 50%;
        float: left;
    }
    .formBottom {
        width: 50%;
        float: left;
    }
}

/* up to 800 x 600*/
@media screen and (min-width: 567px) and (max-width: 800px) and (min-height: 321px) and (max-height: 600px) and (orientation: landscape){
   header {
        background-color: #8a151b;
    }
    h1 {
        font-size: 5.6vh;
    }
    h2 {
        font-size: 5.6vh;
    }
    .buttonContainer {
    /*This contains the button, and moves dynamiccaly witht he size of the screen*/
    width: 32.5%;
    height: 100%;
    float: left;
    }
    .button {    
    font-size: 5vh;
    border: .6vh solid #585340;
    border-radius: 20%;
    margin-top: 30%;
    padding-top: 20%;
    }
    .navButtonContainer {
    float: left;
    width: 25%;
    height: 100%;
    border:  1px black solid;
    }
    .navButton {
    font-size: 4.5vh;
    border: .1vw solid #585340;
    border-radius: 10%;
    text-align: center; 
	margin-left: 6%;
    margin-top: 9%;
	padding: 3%;
    width: 85%;
	height: 30%;
    }
    .listText {
    font-size: 200%;
    width: 70%;
    height: 100%;
    padding-left: 35%;
    padding-top: 2%;
    }
    .title{
    font-size: 1em;
    }
    .formTop{
        width: 50%;
        float: left;
    }
    .formBottom {
        width: 50%;
        float: left;
    }
}


/* up to 1024 x 768*/
@media screen and (min-width: 801px) and (max-width: 1024px) and (min-height: 601px) and (max-height: 768px) and (orientation: landscape){
    header {
        background-color: #8a151b;
    }
    h1 {
        font-size: 5.6vh;
    }
    h2 {
        font-size: 5.6vh;
    }
    .buttonContainer {
    /*This contains the button, and moves dynamiccaly witht he size of the screen*/
    width: 32.5%;
    height: 100%;
    float: left;
    }
    .button {    
    font-size: 5vh;
    border: .6vh solid #585340;
    border-radius: 20%;
    margin-top: 30%;
    padding-top: 20%;
    }
    .navButtonContainer {
    float: left;
    width: 25%;
    height: 100%;
    border:  1px black solid;
    }
    .navButton {
    font-size: 4.5vh;
    border: .1vw solid #585340;
    border-radius: 10%;
    text-align: center; 
	margin-left: 6%;
    margin-top: 9%;
	padding: 3%;
    width: 85%;
	height: 30%;
    }
    .listText {
    font-size: 200%;
    width: 70%;
    height: 100%;
    padding-left:35%;
    padding-top: .5%;
    }
    .title{
    font-size: 1em;
    }
    .formTop{
        width: 50%;
        float: left;
    }
    .formBottom {
        width: 50%;
        float: left;
    }
}